<div class="home-header" [ngClass]="settings.theme">
  <mat-toolbar color="primary" class="kuro">
    <mat-toolbar-row
      class="container"
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap="20px"
      fxlayoutalign="space-between center"
    >
      <div class="logo">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"
          ><img
            src="assets/images/logo_transparent.png"
            style="width: 200px; height: 300px; object-fit: contain"
        /></a>
      </div>
      <div fxflexoffset.gt-sm="10" fxFlex class="search-form">
        <form
          class="search-form"
          fxLayout="row"
          #f="ngForm"
          (ngSubmit)="onSubmit(f)"
          novalidate
        >
          <div class="form-wrap">
            <input
              name="keyword"
              ngModel
              type="text"
              placeholder="Type to search..."
            />
            <button type="submit" class="btn-search">Search</button>
          </div>
        </form>
      </div>
      <div
        class="call-bucket-wrap"
        fxLayout="row"
        fxLayout.sm="row"
        fxLayoutAlign="center center"
      >
        <div
          class="main-menu-wrapper-2"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <mat-toolbar class="top-navbar top menu">
            <app-shopping-widgets-two
              [shoppingCartItems]="shoppingCartItems"
            ></app-shopping-widgets-two>
          </mat-toolbar>
        </div>
        <app-login-menu></app-login-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
