<ul
  *ngIf="isAuthenticated | async"
  style="list-style-type: none; overflow: hidden"
>
  <li style="float: left; margin-right: 1.5em">
    <a
      [routerLink]="['/my-account']"
      title="Manage"
      style="
        display: block;
        color: #333333;
        text-align: center;
        text-decoration: none;
      "
      >{{ userName | async }}</a
    >
  </li>
  <li style="float: left">
    <a
      [routerLink]="['/authentication/logout']"
      [state]="{ local: true }"
      title="Logout"
      style="
        display: block;
        color: #333333;
        text-align: center;
        text-decoration: none;
      "
      >Logout</a
    >
  </li>
</ul>
<ul
  style="list-style-type: none; overflow: hidden"
  *ngIf="!(isAuthenticated | async)"
>
  <li style="float: left; margin-right: 1.5em">
    <a
      style="
        display: block;
        color: #333333;
        text-align: center;
        text-decoration: none;
      "
      [routerLink]="['/authentication/register']"
      >Register</a
    >
  </li>
  <li style="float: left; margin-right: 1.5em">
    <a
      style="
        display: block;
        color: #333333;
        text-align: center;
        text-decoration: none;
      "
      [routerLink]="['/authentication/login']"
      >Login</a
    >
  </li>
</ul>
